<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="footer, address, phone, icons" />
    <link rel="icon" href="img/icon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/crd.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
 
    <title>Mathematics Hub</title>
</head>
<body>
    <header>
        <div class="main_head">
            <div class="container-fluid nav_bar" id="nav">
                <div class="row">
                    <div class="col-4">
                        <div class="name">
                        <h3 id="hed1">Mathematics Hub</h3>
                        </div>
                    </div>
                    <div class="col-8 bar">
                        <nav class="nav justify-content-end bar" id="ch">
                             <a href="/" class="nav-item nav-link active">Home</a>
                             <a href="/course" class="nav-item nav-link">Courses</a>
                             <a href="#serve" class="nav-item nav-link">Services</a>
                             <a href="#our_tem" class="nav-item nav-link">Our Team</a>
                             <a href="#abot" class="nav-item nav-link">About us</a>
                             <a href="#contact" class="nav-item nav-link">Contact us</a>
                             <div class="togbar"><i class="fa fa-bars" id="toggle" aria-hidden="true"></i></div>
                        </nav>
                    </div>
                    
                </div>
            </div>

            <div class="res_nav">
                <i class="fa fa-times" id="cross" aria-hidden="true"></i>
                <div class="nav2">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/Course.html">Course</a></li>
                        <li><a href="/index.html#serve">Services</a></li>
                        <li><a href="/index.html#our_tem">Our Team</a></li>
                        <li><a href="/index.html#abot">About us</a></li>
                        <li><a href="/index.html#contact">Contact us</a></li>
                    </ul>
                </div>
            </div>


            <div class="heading">
                 <div class="container">
                     <div class="row">
                         <div class="col-12">
                                <div class='console-container'>I'm Professional for <span id='text'></span>
                                    <div class='console-underscore' id='console'>&#95;</div>
                                </div>
                         </div>
                         <div class="col-4">
                             <div class="contact">
                                <h5><a href="#">Contact us</a></h5>
                             </div>
                         </div>
                     </div>
                
                 </div>
            </div>
            <div class="car_ad">
                <div class="container">
                    <div class="row">
                        <div class="col-12-md">
                          <div class="imgcarousel">
                            <div id="demo" class="carousel slide" data-ride="carousal">
                             <!--Indicator-->
                             <ul class="carousel-indicators">
                                 <li data-target="#demo" data-slide-to="0" class="active"></li>
                                 <li data-target="#demo" data-slide-to="1"></li>
                                 <li data-target="#demo" data-slide-to="2"></li>
                                 <li data-target="#demo" data-slide-to="3"></li>
                             </ul> 
                             
                             <!--The slideshow-->
                             <div class="carousel-inner">
                                 <div class="carousel-item active">
                                     <img src="img/3.jpg" alt="image 1" class="img-fluid" >
                                 </div>
                                 <div class="carousel-item">
                                     <img src="img/1.jpg" alt="image 2" class="img-fluid">
                                 </div>
                                 <div class="carousel-item">
                                    <img src="img/4.jpg" alt="image 3" class="img-fluid" >
                                </div>
                                <div class="carousel-item">
                                    <img src="img/5.jpg" alt="image 4" class="img-fluid">
                                </div>
                             </div>
    
                             <!--Left and right controls-->
                             <a id="abot" class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                              </a>
                              <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                              </a>
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <section>
        <div class="container-fluid sec">      
                <div  class="container">                
                    <div class="col-12">
                        <div class="row">
                            <div   class="col-md-6 abot1">
                                <div class="abot">
                                    <h3>Welcome to Mathematics Hub</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, temporibus accusamus
                                    placeat recusandae laudantium id quia obcaecati explicabo ea commodi.</p>

                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro neque, delectus labore
                                    incidunt voluptate possimus? Necessitatibus amet nobis sapiente recusandae illo omnis quam quis corrupti.
                                    Eveniet veniam velit sunt pariatur..</p>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae est molestias illum illo ducimus nisi molestiae 
                                    amet quae, dolor fugiat perferendis facere quibusdam repudiandae, ut modi obcaecati.</p>
                                
                                </div>
                            </div>
                            
                            <div class="col-md-6 icon1">
                                    <h3 id="news">News</h3>
                                    <ul>
                                      <marquee direction="up" scrollamout="1">
                                        <li style="color:red">Railway का नया बैच 29/11/2019 को शुरू होगा |</li>
                                        <li style="color:#373a6d">SSC Test Result Out on 1/1/2020</li>
                                        <li style="color:rgb(60, 95, 60)">NDA का नया बैच 29/11/2019 को शुरू होगा |</li>
                                        <li>कल कोई क्लास नहीं होगी।</li>
                                    </marquee>  
                                    </ul>

                            </div>
                            <!-- <div class="col-md-3 icon2">
                                <div class="ion2">
                                    <img src="img/icon2.png" alt="icon2" width="80px">
                                    <h3>Transform Lives</h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            <div id="serve" class="row sec2">
                <div class="col">
                    <h3>Our Services</h3>
                <div class="container-fluid">
                    <div class="sec21">
                        <div class="container">
                            <div class="row">
                            <div class="col-4">
                                    <div class="con">
                                            <div class="card">
                                                <div class="front">
                                                      <h4>Classroom Cousre</h4>
                                                      <img class="center" src="img/icon3.png">
                                                      <p>The Classroom API provides a RESTful interface for you to manage courses and rosters in Google Classroom.
                                                           Additionally, the Classroom share button allows developers and content owners to enable sharing their content to Classroom.</p>
                                                </div>
                                                <div class="back">
                                                        <h4>Classroom Cousre</h4>

                                                        <ul>
                                                            <li><a href="#">SSC</a></li>
                                                            <li><a href="#">CDS</a></li>
                                                            <li><a href="#">Airforce</a></li>
                                                            <li><a href="#">Army</a></li>
                                                            <li><a href="#">Bank</a></li>
                                                            <li><a href="#">NDA</a></li>
                                                        </ul>
                                                        <a href="#">Show More</a>
                                                </div>
                                            </div>
                                        </div> 
                                
                            </div>
                            <!-- <div class="col-md-1"></div> -->
                            <div class="col-4">
                                    <div class="con">
                                            <div class="card">
                                                    <div class="front">
                                                            <h4>Online Cousre</h4>
                                                            <img class="center" src="img/icon4.png">
                                                            <p>The Classroom API provides a RESTful interface for you to manage courses and rosters in Google Classroom.
                                                                 Additionally, the Classroom share button allows developers and content owners to enable sharing their content to Classroom.</p>
                                                      </div>
                                                <div class="back">
                                                        <h4>Online Cousre</h4>
                                                        <ul>
                                                            <li><a href="#">SSC</a></li>
                                                            <li><a href="#">CDS</a></li>
                                                            <li><a href="#">Airforce</a></li>
                                                            <li><a href="#">Army</a></li>
                                                            <li><a href="#">Bank</a></li>
                                                            <li><a href="#">NDA</a></li>
                                                        </ul>
                                                            <a href="#">Show More</a>
                                                </div>
                                            </div>
                                        </div> 
                                
                            </div>
                            <!-- <div class="col-md-1"></div> -->
                            <div class="col-4">
                                    <div class="con">
                                            <div class="card">
                                                    <div class="front">
                                                            <h4>Our Library</h4>
                                                            <img class="center" src="img/icon5.png">
                                                            <p>The Classroom API provides a RESTful interface for you to manage courses and rosters in Google Classroom.
                                                                 Additionally, the Classroom share button allows developers and content owners to enable sharing their content to Classroom.</p>
                                                      </div>
                                                <div class="back">
                                                        <h4>Our Library</h4>
                                                        <ul>
                                                            <li><a href="#">SSC</a></li>
                                                            <li><a href="#">CDS</a></li>
                                                            <li><a href="#">Airforce</a></li>
                                                            <li><a href="#">Army</a></li>
                                                            <li><a href="#">Bank</a></li>
                                                            <li><a href="#">NDA</a></li>
                                                        </ul>
                                                            <a href="#">Show More</a>
                                                </div>
                                            </div>
                                        </div> 
                                
                            </div>

                            </div>
                        </div>
                    </div>
                    <div class="sec21r">
                        <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card_res">
                                        <h4>Classroom Cousre</h4>
                                        <img class="center" src="img/icon3.png">
                                        <p>The Classroom API provides a RESTful interface for you to manage courses and rosters in Google Classroom.
                                             Additionally, the Classroom share button allows developers and content owners to enable sharing their content to Classroom.</p><br>
                                        <a href="#">Show More</a>
                                   

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card_res">
                                        <h4>Online Cousre</h4>
                                        <img class="center" src="img/icon4.png">
                                        <p>The Classroom API provides a RESTful interface for you to manage courses and rosters in Google Classroom.
                                                 Additionally, the Classroom share button allows developers and content owners to enable sharing their content to Classroom.</p><br>
                                                 <a href="#">Show More</a>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card_res">
                                        <h4>Our Library</h4>
                                        <img class="center" src="img/icon5.png">
                                        <p>The Classroom API provides a RESTful interface for you to manage courses and rosters in Google Classroom.
                                             Additionally, the Classroom share button allows developers and content owners to enable sharing their content to Classroom.</p><br>
                                             <a href="#">Show More</a>

                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                 </div>
             </div>
            </div>

            <div id="our_tem" class="row sec4">
                    <div class="col">
                            <h3>Our Team</h3>
                        <div class="container-fluid">
                                <div class="container">
                                        <div class="row">
                                                <div class="col-lg-3 col-md-6">
                                                    <div id="card2" class="our-team">
                                                        <div class="pic">
                                                            <img src="img/ankit.jpg">
                                                        </div>
                                                        <div class="team-content">
                                                            <h4 class="team-title">Ankit Kumar</h4>
                                                            <span class="post">Web Developer</span>
                                                        </div>
                                                        <div class="social">                    <ul>
                                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                                            <li><a href="#" class="fa fa-google-plus"></a></li>
                                                            <li><a href="#" class="fa fa-linkedin"></a></li>
                                                        </ul>
                                                    </div>
                                                    </div>
                                                </div>
                                    
                                                <div class="col-lg-3 col-md-6">
                                                        <div class="our-team">
                                                            <div class="pic">
                                                                <img src="img/ankit.jpg">
                                                            </div>
                                                            <div class="team-content">
                                                                <h4 class="team-title">Ankit Kumar</h4>
                                                                <span class="post">Web Developer</span>
                                                            </div>
                                                            <div class="social">
                                                            <ul>
                                                                <li><a href="#" class="fa fa-facebook"></a></li>
                                                                <li><a href="#" class="fa fa-twitter"></a></li>
                                                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                                            </ul>
                                                        </div>
                                                        </div>
                                                    </div>
                                    
                                                    <div class="col-lg-3 col-md-6">
                                                            <div id="card1"class="our-team">
                                                                <div class="pic">
                                                                    <img src="img/ankit.jpg">
                                                                </div>
                                                                <div class="team-content">
                                                                    <h4 class="team-title">Ankit Kumar</h4>
                                                                    <span class="post">Web Developer</span>
                                                                </div>
                                                                <div class="social">
                                                                <ul>
                                                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                                                </ul>
                                                            </div>
                                                            </div>
                                                        </div>
                                    
                                                        <!-- <div class="col-lg-3 col-md-6">
                                                                <div id="card2" class="our-team">
                                                                    <div class="pic">
                                                                        <img src="img/ankit.jpg">
                                                                    </div>
                                                                    <div class="team-content">
                                                                        <h4 class="team-title">Ankit Kumar</h4>
                                                                        <span class="post">Web Developer</span>
                                                                    </div>
                                                                    <div class="social">
                                                                    <ul>
                                                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                                                        <li><a href="#" class="fa fa-google-plus"></a></li>
                                                                        <li><a href="#" class="fa fa-linkedin"></a></li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div> -->
                                            </div>


                                </div>
                        </div>
                    </div>
            </div>

            <div id="contact" class="row sec3">
                    <div class="col">
                        <h3>Contact us</h3>
                        <div class="container">
                                <form action="#">
                                        <div class="form-group">
                                            <label for="name">Name:</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                          <label for="email">Email address:</label>
                                          <input type="email" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                          <label for="tel">Contact No:</label>
                                          <input type="tel" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Comment:</label>
                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                      </form>
                        </div>
                    </div>
            </div>
            <div class="row foot">
                    <div class="col-12">
                            <footer class="footer-distributed">
 
                                    <div class="footer-left">
                                  
                                        <h3>About<span> Mathematics Hub</span></h3>
                         
                                        <p class="footer-links">
                                            <a href="/index.html">Home</a>
                                            |
                                            <a href="/Course.html">Courses</a>
                                            |
                                            <a href="/index.html#serve">Services</a>
                                            |
                                            <a href="/index.html#our_tem">Our Team</a>
                                            |
                                            <a href="/index.html#abot">About us</a>
                                            |
                                            <a href="/index.html#contact">Contact us</a>
                                        </p>
                         
                                        <p class="footer-company-name">© 2019 Mathematics Hub</p>
                                    </div>
                         
                                    <div class="footer-center">
                                        <div>
                                            <i class="fa fa-map-marker"></i>
                                              <p>Gopeshwar Nagar<br>
                                                  chapra-841301
                                              </p>
            
                                        </div>
                         
                                        <div>
                                            <i class="fa fa-phone"></i>
                                            <p>+91 76673 89834</p>
                                        </div>
                                        <div>
                                            <i class="fa fa-envelope"></i>
                                            <p><a href="#">ankit@gmail.com</a></p>
                                        </div>
                                    </div>
                                    <div class="footer-right">
                                        <p class="footer-company-about">
                                            <span>About the company</span>
                                            We offer training and courses across for SSC, CDS, NDA, Railway, Army, Airforce.</p>
                                        <div class="footer-icons">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-youtube"></i></a>
                                        </div>
                                    </div>
                                </footer>
                        
                        
                    </div>
             </div>
        </div> 
     </section>










<script src="js/main.js"></script>
<script>
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("nav").style.backgroundColor = "white";
      document.getElementById("hed1").style.color = "black";
      $(".bar a").css("color", "black");
      $("#toggle").css("color","black");
        } else {
        document.getElementById("nav").style.backgroundColor = "#373a6d";
        document.getElementById("hed1").style.color = "white";
        $(".bar a").css("color", "white");
        $("#toggle").css("color","white");
        }
    }
</script>
</body>
</html>