<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="footer, address, phone, icons" />
    <link rel="icon" href="img/icon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/course.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/crd.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
 
    <title>Mathematics Hub</title>
</head>
<body>
    <header>
        <div class="main_head">
            <div class="container-fluid nav_bar" id="nav">
                <div class="row">
                    <div class="col-4">
                        <div class="name">
                        <h3 id="hed1">Mathematics Hub</h3>
                        </div>
                    </div>
                    <div class="col-8 bar">
                        <nav class="nav justify-content-end bar" id="ch">
                             <a href="/index.html" class="nav-item nav-link active">Home</a>
                             <a href="/Course.html" class="nav-item nav-link">Courses</a>
                             <a href="/index.html#serve" class="nav-item nav-link">Services</a>
                             <a href="/index.html#our_tem" class="nav-item nav-link">Our Team</a>
                             <a href="/index.html#abot" class="nav-item nav-link">About us</a>
                             <a href="/index.html#contact" class="nav-item nav-link">Contact us</a>
                             <div class="togbar"><i class="fa fa-bars" id="toggle" aria-hidden="true"></i></div>
                        </nav>
                    </div>
                    
                </div>
            </div>

            <div class="res_nav">
                <i class="fa fa-times" id="cross" aria-hidden="true"></i>
                <div class="nav2">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/Course.html">Course</a></li>
                        <li><a href="/index.html#serve">Services</a></li>
                        <li><a href="/index.html#our_tem">Our Team</a></li>
                        <li><a href="/index.html#abot">About us</a></li>
                        <li><a href="/index.html#contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
    </div>
 </header>
    <section>
            
        <div class="container-fluid sec"> 
            <div class="container">
                <div id="content_Bank">
                        <h3>Online Material</h3>
                    <div class="bank"> 
                        <div>
                            <h5 id="topic">Quantitative Aptitude</h5>
                            <ul>
                                <li><a href="https://www.indiabix.com/aptitude/height-and-distance/">Height and Distance</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/problems-on-trains/">Problems on Trains</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/simple-interest/">Simple Interest</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/profit-and-loss/">Profit and Loss</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/percentage/">Percentage</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/calendar/">Calendar</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/average/">Average</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/volume-and-surface-area/">Volume and Surface Area</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/numbers/">Numbers</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/problems-on-hcf-and-lcm/">Problems on H.C.F and L.C.M</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/simplification/">Simplification</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/surds-and-indices/">Surds and Indices</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/chain-rule/">Chain Rule</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/boats-and-streams/">Boats and Streams</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/logarithm/">Logarithm</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/time-and-distance/">Time and Distance</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/time-and-work/">Time and Work</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/compound-interest/">Compound Interest</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/partnership/">Partnership</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/problems-on-ages/">Problems on Ages</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/clock/">Clock</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/area/">Area</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/permutation-and-combination/">Permutation and Combination</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/square-root-and-cube-root/">Square Root and Cube Root</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/ratio-and-proportion/">Ratio and Proportion</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/pipes-and-cistern/">Pipes and Cistern</a></li>
                                <li><a href="https://www.indiabix.com/aptitude/probability/">Probability</a></li>
                                <!-- <li><a href="#"></a></li> -->
                            </ul>
                        </div>
                        <div>
                            <h5 id="topic">English Language</h5>

                        </div>
                        <div>
                            <h5 id="topic">Current Affairs</h5>

                        </div>
                        <div>
                            <h5 id="topic">Reasoning Ability</h5>
                        </div>
                    </div>
                </div>  
            </div>

                
        

            <div class="row foot">
                    <div class="col-12">
                            <footer class="footer-distributed">
 
                                    <div class="footer-left">
                                  
                                        <h3>About<span> Mathematics Hub</span></h3>
                         
                                        <p class="footer-links">
                                            <a href="/index.html">Home</a>
                                            |
                                            <a href="/Course.html">Courses</a>
                                            |
                                            <a href="/index.html#serve">Services</a>
                                            |
                                            <a href="/index.html#our_tem">Our Team</a>
                                            |
                                            <a href="/index.html#abot">About us</a>
                                            |
                                            <a href="index.html#contact">Contact us</a>
                                        </p>
                         
                                        <p class="footer-company-name">© 2019 Mathematics Hub</p>
                                    </div>
                         
                                    <div class="footer-center">
                                        <div>
                                            <i class="fa fa-map-marker"></i>
                                              <p>Gopeshwar Nagar<br>
                                                  chapra-841301
                                              </p>
            
                                        </div>
                         
                                        <div>
                                            <i class="fa fa-phone"></i>
                                            <p>+91 76673 89834</p>
                                        </div>
                                        <div>
                                            <i class="fa fa-envelope"></i>
                                            <p><a href="#">ankit@gmail.com</a></p>
                                        </div>
                                    </div>
                                    <div class="footer-right">
                                        <p class="footer-company-about">
                                            <span>About the company</span>
                                            We offer training and courses across for SSC, CDS, NDA, Railway, Army, Airforce.</p>
                                        <div class="footer-icons">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-youtube"></i></a>
                                        </div>
                                    </div>
                                </footer>
                        
                        
                    </div>
             </div>
        </div> 
     </section>










<script src="js/cousre.js"></script>
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("nav").style.backgroundColor = "white";
      document.getElementById("hed1").style.color = "black";
      $(".bar a").css("color", "black");
      $("#toggle").css("color","black");
        } else {
        document.getElementById("nav").style.backgroundColor = "#373a6d";
        document.getElementById("hed1").style.color = "white";
        $(".bar a").css("color", "white");
        $("#toggle").css("color","white");
        }
    }
</script>
</body>
</html>